<h1>Create an Account</h1>
  

<form action='/create_account' method="POST">
  <label for="email">Please enter an email</label>
  <input type="text" name="email">
  <br><br>
  <label for="password">Please create a password</label>
  <input type="text" name="password">
  <br><br>
  <input type="submit">
</form>
