<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

<form action='/' method="POST">
  <label for="email">Please enter email</label>
  <input type="text" name="email">
  <br><br>
  <label for="password">Please enter your password</label>
  <input type="text" name="password">
  <br><br>
  <input type="submit">
</form>
<br>
<a href="/create_account">or click here to create an account</a>

<br><br>
<form action="/sign_in" method="POST">
  <input type="submit" value="Secret Page">
</form>

<form action="/urls" method="POST">
  <br><br>
  <label for="long_url">Long URL</label>
  <input type="text" name="long_url">
  <br><br>
  <input type="submit" value="Create Short URL">
</form>
<br><br>
<%Url.all.each do |url|%>
<%= url.user_id %> <br>
<%=url.short_url%><br>
<%=url.long_url%> <br><br>
<%end%>


</div>
